<div class="fixed-fluid">
    <div class="fixed-sm-250 fixed-md-350 pull-sm-left">
        {{ render(path('sylius_admin_taxon_roots')) }}
    </div>
    <div class="fluid">
        {{ form_errors(form) }}

        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">{{ "Edit Taxon"|trans }}</h3>
            </div>
            <div class="panel-body">
                {{ form_row(form.code) }}
                {{ form_row(form.parent) }}
            </div>
        </div>

        {{ form_row(form.translations) }}
    </div>
</div>
