{% import "ToroAdminBundle:Macro:buttons.html.twig" as btn %}
{% set taxonCode = app.request.get('code') %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">{{ "หมวดหมู่หลัก" }}</h3>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>{{ "Name" }}</th>
            <th>{{ "Code" }}</th>
            <th>{{ "Slug" }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for taxon in taxons %}
            <tr class="{{ css_if('active', taxon.code == taxonCode) }}">
                <td><a href="{{ path('sylius_admin_taxon_index', {code: taxon.code}) }}">{{ taxon.name }}</a></td>
                <td class="muted">{{ taxon.code }}</td>
                <td class="muted">{{ taxon.slug }}</td>
                {% if app.request.get('actions') %}
                    <td class="actions">
                        {{ btn.settings([
                            btn.edit(path('sylius_admin_taxon_update', {id: taxon.id})),
                            btn.delete(path('sylius_admin_taxon_delete', {id: taxon.id}), 'toro.ui.delete'|trans, taxon.id)
                        ]) }}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<style>
    tr.active {
        font-weight: bold !important;
    }
</style>
