{% import "ToroAdminBundle:Macro:buttons.html.twig" as btn %}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'toro.ui.taxonomy'|trans }}</h3>
    </div>
    <table class="table table-hover">
        <tbody>
        {% for taxon in taxons %}
            <tr>
                <td>
                    <a href="{{ path('sylius_admin_taxon_index', {code: taxon.code}) }}">
                        {{ taxon.name }}
                    </a>
                </td>
                <td class="muted">{{ taxon.code }}</td>
                {% if app.request.get('actions') %}
                    <td class="actions">
                        {{ btn.settings([
                        btn.edit(path('sylius_admin_taxon_update', {id: taxon.id})),
                        btn.delete(path('sylius_admin_taxon_delete', {id: taxon.id}), 'toro.ui.delete'|trans, taxon.id )
                        ]) }}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
