{% block image_collection_widget %}
    <div class="panel">
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-10">
                    <div class="{{ css_if('has-error', form.filter.vars.errors|length) }}">
                        {{ form_widget(form.filter) }}
                        {{ form_errors(form.filter) }}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="text-right">
                        <a href="#" data-form-collection="delete" class="btn btn-danger btn-sm">
                            <i class="fa fa-trash-o collection-button-remove"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            {{ form_row(form.image, {label: false}) }}
        </div>
    </div>
{% endblock %}

{% block image_collection_collection_item_widget %}
    {{ form_errors(form) }}

    <div data-form-collection="item" data-form-collection-index="{{ index }}" class="collection-item">
        <div class="collection-box">
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock %}
